version: '3'

services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html/
    depends_on:
      - db
    restart: always

  db:
    image: mysql:5.7
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ctf_db
      MYSQL_USER: nasicumihitam
      MYSQL_PASSWORD: madurapakkris
    restart: always

volumes:
  mysql_data: